  html {
    font-size: 10px;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Quicksand', sans-serif;
  }
  
  .navbar {
    margin-top: 1rem;
    opacity: .9;
    border-radius: 1rem;
  }

  .home {
    margin-top: 8rem;
    border: black solid 1rem;
  }

  .work {
    margin-top: 5rem;
  }

  .display-2 {
    padding-top: 5rem;
    color: #FF8181;
    font-weight: bold;
  }

  .display-4 {
    color: grey;
    padding-top: 3rem;
    font-style: italic;
  }

  .sectionHeading {
    color: #FF8181;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 7rem;
  }

  .left {
    color: grey;
    padding-top: 7rem;
  }

  .right {
    padding-top: 7rem;
  }

  li {
    padding-bottom: 2rem;
    font-size: 2rem;
  }

  .card-deck {
    padding-top: 7rem;
  }

  footer {
    background: grey;
    color: white;
    font-size: 1.5rem;
    margin-top: 10rem;
    padding: 2rem;
}
  