  html {
    font-size: 10px;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Quicksand', sans-serif;
  }

  .navbar {
    opacity: .9;
  }

  .nav-link {
    font-size: 2rem;
    margin-top: 2rem;
  }

  #login, #signup {
    border: solid #838383 .2rem;
    padding: 0 2rem;
    border-radius: .5rem;
    margin-right: 2rem;
  }

  .home {
    min-height: 52rem;
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .campaign, .how, .faq, .howrow, .faqdiv, .card-deck, .emailcontainer {
    margin-top:5rem;
  }

  #imageflow { 
    width: 90%;
   }

  .display-2 {
    color: white;
    font-weight: bold;
    padding-top: 20rem;
    text-shadow: .2rem .2rem #838383;
  }

  .d4cursive {
    color: white;
    font-style: italic;
    margin-top: 6rem;
    text-shadow: .2rem .2rem #838383;
  }

  .sectionHeading {
    color: #FF7575;
    font-size: 3.5rem;
    font-weight: bold;
  }

  .left {
    color: #838383;
  }

  li {
    padding-bottom: 2rem;
    font-size: 2rem;
  }

  .card-title {
    color: #FF7575;
    font-size: 2rem;
  }

  .card-text {
    color: #838383;
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }

  .card-footer {
    color: #838383;
    font-size: 2rem;
  }

  .collapse-link {
    color: #FF7575;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .collapse-btext {
    color: #838383;
    font-size: 1.5rem;
  }

  footer {
    background: #3F454A;
    color: white;
    font-size: 1.5rem;
    margin-top: 5rem;
}